.sheetgrid {
  display: grid;
  gap: 3.5rem;
  grid-auto-flow: dense;
  grid-template-rows: 38rem;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
} 

img {
-webkit-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
pointer-events: none;
}

.movie_card{
  padding: 20px;
  width: 22rem;
  border-radius: 8px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  position: relative; 
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  margin: 30px;
  background-color: rgba(51, 51, 51, 0.3);
  font-family: 'Montserrat', sans-serif;
}

.movie_card img {
border-radius: 6px;
}

.movie_info {
display: grid;
color: #444343;
font-size: 16px;
}

.movie_info Button {
margin-top: -34px;
}

.btnfav {
  margin-left: 18.5rem;
  margin-top: 0rem;
  padding-top: 0rem;
}

.btnfavorite {
margin-left: 89px;
}

.inputbutton{
margin-top:20px;
margin-left:40vw;
}

.inputbutton Button {
margin-left:1vw;
}